﻿    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<div style="background-color:#f2f3f5;padding:20px">
    <div style="max-width:600px;margin:0 auto">
        <div style="background:#fff;font:14px Open Sans;color:#686f7a;border-top:4px solid #ec5252;margin-bottom:20px">
            <div style="float:left;border-bottom:1px solid #f2f3f5;padding:20px 30px">
                <img width="40" 
                     style="float:left" 
                     src="cid:icon" 
                     alt="FreiLosofia" class="CToWUd">
                <div style="float:left;margin-top:10px;margin-left:15px;">
                    Frei-Losofia &copy;
                </div>
            </div>

            <div style="padding:20px 30px;clear:both">
                <div style="font-size:16px;line-height:1.5em;border-bottom:1px solid #f2f3f5;padding-bottom:10px;margin-bottom:20px">
                    <p>
                        <a style="text-decoration:none;color:#ec5252">
                            Olá, esse poema foi enviado especialmente para você s2
                        </a>
                    </p>

                    <p style="color:#000">
                        {MENSAGEM}
                    </p>
                </div>
            </div>

        </div>
        <div style="font:11px;color:#686f7a">
            <p style="font-size:11px;color:#686f7a">
                Ação Social Nossa Senhora de Fátima - Exercícios práticos de programação com C#
            </p>
        </div>
    </div>
</div>